.message-input {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.message-input-text {
    padding: 15px;
    box-shadow: 0px 7px 20px -8px rgba(173,173,173,0.75);
    margin: 0 15px 0 0;
    width: calc(100% - 127px);
}
.message-input-button {
    padding: 15px 40px;
    background-color: #00a48a;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
}
.message-input-button:hover {
    opacity: 0.8;
}